*.csproj
*.sln
*.suo
*.user
*.userprefs

/.vs/
/.vscode/
/.idea/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/

/Grammar/*.class
/Grammar/*.java
/Grammar/*.cs
/Grammar/*.interp
/Grammar/*.tokens
/Grammar/*.png
/Grammar/*.svg

/ProjectSettings/Packages
/UserSettings
/UIElementsSchema
/Assets/Assets.index*
/Data/Saves/*_AUTO_*

Unity_lic.alf
/fmod_editor.log
/token.json

FMODStudioCache.asset
